<script defer>
  (async () => {
    const user = location.host.split(".")[0];
    const path = location.pathname
      .split("/")
      .filter((x) => x && !x.endsWith(".html"));
    const repo = path.shift();
    const response = await fetch(
      `https://api.github.com/repos/${user}/${repo}/contents/${path.join("/")}`,
      {
        cache: "reload",
      }
    );
    const data = await response.json();

    let navEl = document.querySelector("nav");
    if (!navEl) {
      navEl = document.createElement("nav");
      document.body.prepend(navEl);
    }

    const ulEl = document.createElement("ul");
    navEl.appendChild(ulEl);

    let foundSomething = false;

    data.sort((a, b) => {
      if (a.name === "index.md") {
        return -1;
      }
      if (b.name === "index.md") {
        return 1;
      }
      return a.name.localeCompare(b.name);
    });

    for (const file of data) {
      if (file.name.startsWith("_")) {
        continue;
      }

      if (
        file.type === "dir" ||
        (file.name.endsWith(".md") &&
          file.name !== "README.md" &&
          file.name !== "LICENSE.md") ||
        file.name.endsWith(".html")
      ) {
        const liEl = document.createElement("li");
        const aEl = document.createElement("a");
        aEl.href = file.name.replace(/\.md$/, ".html");
        if (file.name === "index.md" || file.name === "index.html") {
          aEl.textContent = "/";
        } else {
          aEl.textContent = file.name;
        }
        liEl.appendChild(aEl);
        ulEl.appendChild(liEl);

        foundSomething = true;
      }
    }
  })();
</script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "all" } } });
</script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.9/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
  type="text/javascript"
></script>
